/* .heroSmack {
  width: 100vh;
  height:100%;
  z-index:5;
  position: flex;
  scroll: none;
  align-items: center;
}
.wrap {
  width:90vh;
  height:90vh;
  position: relative;
  top: 10em;
  left: 20vw;
  right: 20vh;
  align-self: center;
  align-items: center;
  align-content: space-around;

}
.wrap:hover{
  visibility: visible;
}

.coyote{
  position:relative;
  top:5vh;
  z-index:1;
  background: black;
}
.world{
  position:sticky;
  top:5vh;
  bottom:5vh;
  z-index:1;
  background: black;
}
.sky{
  position:sticky;
  z-index: 5;
  /* visibility: hidden; */
/* }
.sky:hover{
  z-index: 10;
  visibility: visible;
} */
/* .Overlay {
position: relative;
  z-index: 10;
  opacity: 0;
  top:5vh;
} */

/* .Overlay:hover {
  opacity: 100;
} */
